<mat-card class="mt10 mr20 ml20" *ngFor="let c of categories">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{ c.title }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ c.description}}
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<div class="container text-center mt10 mb10">
    <button routerLink="/admin/add-category" mat-raised-button color="accent"> Add New Category</button>
</div>